body {
    background-image: url(images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

.heading {
    background-color: rgb(245, 245, 234);
    border-radius: 45px;
    display: flex;
    align-items: center;
    padding: 10px 40px;
    margin: 20px;

    position: sticky;
    top: 10px;
    z-index: 1000;
}

.heading img {
    width: 100px;
}

.brand-text {
    margin-left: 20px;
}

.brand-text h1 {
    margin: 0;
    font-size: 28px;
}

.brand-text h3 {
    margin: 5px 0 0;
    font-size: 16px;
    font-weight: normal;
}

.nav-links {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 12px;
    text-align: right;
    justify-content: center;  
}

.nav-links a {
    text-decoration: none;
    color: black;           
    font-weight: bold;
}

.nav-links a:hover {
    color: #6b4f2a;     
    text-decoration:overline;   
}


main {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
}

.content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 15px;
}

.content img {
    max-width: 350px;
    width: auto;
    height:auto;
    margin: 10px 0 10px 15px;

    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content img:hover{
    transform: translateY(-10px);
}

.content::after {
    content: "";
    display: block;
    clear: both;

}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

section {
    scroll-margin-top: 120px;
}

/* MODAL BACKGROUND */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

/* MODAL BOX */
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 30px;
    width: 90%;
    max-width: 500px;
    border-radius: 20px;
    position: relative;
}

/* CLOSE BUTTON */
.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}

.page-grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.chat-support {
    position: fixed;
    bottom: 20px;
    left: 20px;

    width: 60px;
    height: 60px;

    background-color: #6b4f2a;
    color: white;

    border-radius: 50%;
    font-size: 28px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 3000;
}

.chat-support:hover {
    background-color: #4a3520;
    transform: scale(1.1);
}


/*Mobile Resolution*/
@media (max-width: 600px) {
    .heading {
        padding: 15px 15px; 
        border-radius: 25px;
        flex-direction: column;
        text-align: center;
    }

    .heading img{
        width: 60px;
    }

     .brand-text h1 {
        font-size: 20px;
    }

     .brand-text h3 {
        font-size: 14px;
    }

    .nav-links {
        gap: 6px;
        flex-direction: row;
        margin-top: 10px;
    }

    .nav-links a {
        font-size: 14px;

    }

    .chat-support {
        width: 50px;
        height: 50px;
        font-size: 24px;
        bottom: 15px;
        left: 15px;
    }

    .image-gallery {
        flex-direction: column; 
    }

    .image-gallery img {
        margin: 0 auto;
    }

    .chef-container {
        flex-direction: column;
        text-align: center;
    }
    
    .chef-container img {
        margin: 0 auto;
    }
}

/*Tablet Resolution*/
@media (min-width: 601px) and (max-width: 900px) {
    main {
        padding: 15px;
    }
}


.chef-container {
    display: flex;
    align-items: center; 
    gap: 20px;           
    margin-top: 15px;
}

.chef-name {
    font-size: 24px;
    font-weight: bold;
    color: #6b4f2a;
    font-style: italic;
}

.image-gallery {
    display: flex;       
    gap: 15px;          
    margin-top: 15px;
    flex-wrap: wrap;    
}

.image-gallery img {
    flex: 1;            
    height: 250px;      
    width: 100%;        
    object-fit:fill;  
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}


.image-gallery img:hover {
    transform: translateY(-10px);
}